
html, body {
    margin: 0;
    height: 100%;
}

.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 80%;
    padding-left: 140px;
    padding-right: 140px;
}

#headshot {
   padding-right: 60px; 
}

#headshot-img {
    border-radius: 50%;
    width: 450px;
    height: 450px;
}

h1, h4 {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 100px;
    font-weight: 400;
}

h4 {
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #707070;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}