.content-wrapper {
    position: relative;
    min-height: 100%;
}

.page-content {
    padding: 100px;
}

.breadcrumb {
    padding-bottom: 10px;
}

.project-intro {
    padding-bottom: 30px;
    text-align: center;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 100px;
    font-weight: 400;
}

h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #707070;
    margin: 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

a {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color: #707070;
    text-decoration: none;
}

a:hover, .current-project {
    font-weight: 700;
}

.project-img {
    width: 40%;
    
}

.project-image-wrapper {
    display: block;
    text-align: center;
}

a.github-link {
    color: black;
    font-weight: 700;
    font-size: 35px;
}

.github-link-wrapper {
    text-align: center;
    padding-top: 20px;
}

#project-link {
    font-weight: 700;   
}