html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a#project-link {
    font-weight: 700;
}

.content-wrapper {
    position: relative;
    min-height: 100%;
}

.page-content {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 70px;
    text-align: center;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 100px;
    font-weight: 400;
    margin: 0;
}

button {
    border: none;
    outline: none;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #707070;
}

button:hover, button.active {
    font-weight: 700;
    cursor: pointer;
}

#project-header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

#project-gallery {
    width: 100%;
    padding-bottom: 30px;
    display: inline-block;
}

.project {
    display: none;
}

.project.visible {
    display: inline-flex;
    width: 400px;
    height: 400px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.project:hover {
    opacity: 0.5;
    cursor: pointer;
}

@media only screen and (max-width: 1050px) {
    .project.visible {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-width: 840px) {
    .project.visible {
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width: 730px) {
    .project.visible {
        width: 400px;
        height: 400px;
    }
    
    .page-content {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    h1 {
        font-size: 80px;
    }
}

@media only screen and (max-width: 450px) {
    .project.visible {
        width: 300px;
        height: 300px;
    }
}